body{

background:#1b1d3a;
font-family:Arial;
color:white;
margin:0;
}

.dashboard{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
padding:30px;

}

.card{

background:#2b2e5a;
padding:20px;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,0.3);

}

.big{

grid-column:span 2;

}

.chart{

height:300px;

}

h1{

font-size:50px;
margin:0;

}

h2{

font-size:35px;
margin:0;

}

p{

color:#a5a7d4;

}
